/* .Foorer:before{
    content: "\a";
    white-space: pre;
} */

.Footer{
    /* padding: 10px; */
   
}
.Footer h1{
    text-align: left;
    font-weight: lighter; 
 


}
.Footer_cont{
    display: flex;
    text-align: left; 
}
.Content{
    flex-direction: column;
    flex: 1;
    padding-left: 20px;
    padding-top: 20px;
    
     /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12); */
}
.Content h{
    font-style: 40px;
}
.Content h4 {
   
        font-weight: lighter;
        color: rgb(26, 22, 22);
        font-size: 15px;
 
      }
.Content h5{
    font-weight: lighter;
    display: block;
    margin-top: 20px;
    margin-right: 20px;
    
    
    
    color: blueviolet;
    
    font-size: 15px;
      }
      
      /* h2 {
        font-weight: bold;
        color: #fff;
        font-size: 24px;
      }
} */
.searchs{
    display: flex;
    padding-top: 20px;
    padding-right: 40px;
    margin-left: 0;
    height: 40px;
}
.searchs button{
    color: rgb(221, 221, 235);
    background-color: rgb(23, 23, 85);
   


 

}
.Footer_copywrite{
    display: flex;
    flex: 1;
    padding: 20px;
    margin-left: 0;
    text-align: left;
 }
 .Footer_copywrite h5{
     font-weight:unset;
     
     font-size: 12px;
 }