
.product {
    display: grid;
  /* grid-gap: 1rem; */
  /* grid-template-columns:  auto auto auto; */
  /* grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ); */

  /* background-color: #e4eaee; */
  justify-items: center;
  padding-top: 3rem;
  /* padding-left: 40px; */
  
  }
  .product_img{
    padding: 1rep;
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;  
    border: 1px solid rgba(39, 38, 38, 0.8);
    /* width: 75%; */
    min-height: 21rem;
  } 

  .content{
     padding-top: 1rem;
     max-width: 12rem;
    
     /* min-height: 150px;  */
  }

 
  .product_img {
    /* background-color: rgba(65, 61, 61, 0.8);
    border: 1px solid rgba(241, 234, 234, 0.8);
    padding-left: 20px;
    padding: 10px;
    display: flex;
    text-align: center; 
    max-width:50%;

    font-size: 10px;
    text-align: center;   */
    min-height: 10rem; 
 
  }
.product_img >.img{
    max-height: 9rem; 
    max-width: 9rem;
  /* min-height: 150px; */
    min-height: 4rem;
    padding: 1rem;
    background-color:rgb(246, 246, 246) ;

} 
 